.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page__main {
  position: relative;
  z-index: 10;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 48px;
}
